<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.softdrinkrecipes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Fayrouz"
            android:label="@string/title_activity_fayrouz"></activity>
        <activity
            android:name=".Teem"
            android:label="@string/title_activity_teem" />
        <activity
            android:name=".MountainDew"
            android:label="@string/title_activity_mountain_dew" />
        <activity
            android:name=".Mirinda"
            android:label="@string/title_activity_mirinda" />
        <activity
            android:name=".Pepsi"
            android:label="@string/title_activity_pepsi" />
        <activity
            android:name=".SevenUp"
            android:label="@string/title_activity_seven_up" />
        <activity
            android:name=".CokeRecipe"
            android:label="@string/title_activity_coke_recipe" />
        <activity
            android:name=".CockTail"
            android:label="@string/title_activity_cock_tail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShakesDrinks"
            android:label="@string/title_activity_shakes_drinks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CocoaDrink"
            android:label="@string/title_activity_cocoa_drink"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SoftDrinks"
            android:label="@string/title_activity_soft_drinks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>